body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}
header{
    background-color:rgb(67, 65, 65);
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: none;
}

header nav a {
    text-decoration: underline;
}

section{
    padding: 20px;
    text-align: center;
}

section#home{
    background-color: #e2e2e2;
}

section#sobre{
    background-color: #f0f0f0;
}

section#servicos{
    background-color: #e2e2e2;
}

section#contato{
    background-color: #f0f0f0;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}