/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    background-image: url('../images/registro.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white; 
}
/* Contêiner do formulário */
.form-container {
    background: rgba(146, 58, 114, 0.8); 
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
  }

/* Título */
h1 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilo para os parágrafos */
p {
    font-size: 18px;
    color: #ff00f7;
    margin-bottom: 10px;
}

/* Estilo para os títulos de dados */
strong {
    font-weight: bold;
    color: #ffffff;
}

/* Botão de editar */
form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: #c113f0;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #9f2ba1;
}

/* Responsividade */
@media (max-width: 600px) {
    .form-container {
        padding: 20px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    button {
        font-size: 14px;
    }
}
