body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 10px;
    background-color: #eff1f3;
    border-radius: 100%;
}

